.dl {
  position: fixed;
  display: flex;
  z-index: 4;
  flex-direction: column;
  align-items: center;
  bottom: 20px;
  width: 20px;
  right: 20px;
  font-size: 0.85em;
  color: #ffffff;
  letter-spacing: 3px;
  word-spacing: 5px; }
  .dl p {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    line-height: 20px;
    width: 100%; }
  .dl span {
    width: 1px;
    height: 30px;
    background: #ffffff;
    margin: 20px 0; }
  .dl a {
    width: 100%;
    cursor: pointer; }
    .dl a img {
      width: 100%; }
